<!DOCTYPE html>
<head></head>
<body>
<meta name= "viewport" content= "width=device width, initial-scale=1.0"


.header 
.container
margin: 0 auto

a:hover {color: green;}

@font-face header{font-family: "Times New Roman", times, serif;
        src: url(timesnewroman.tff);
}
@font-face body{font-family: "Georgia"; georgia, serif;
        src: url(georgia.tff);
}

img {border-radius: 25 px;}

img { box-shadow: 5px 10px;}

.form
.container
margin: 0 auto

.form {border: 10px solid black}

.form {  
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px; }

@media screen only and {
    (height: auto)
    (max-width: 100%)
}

img{
    display: flex; }
img {
    flex-grow: <1>; }
img{ 
    flex-wrap: wrap}
img {
    flex-basis: <length> | auto;}
/*could probably add these in one? good practice doing it sperate */
    
</body>
